body{margin: 0px;
position: relative;}
.navbar{
background-image: linear-gradient(to bottom, rgba(73, 63, 63, 0.548) 20%,rgba(179, 161, 161, 0.24)80%);
}
#gamescreen{
    width: 100vw;
    height: 100vh;
   background-color: firebrick;
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*align-items: center;*/
   
   position: absolute;
}
#linhadasPalavras{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 223px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
    color: aliceblue;
}

#box1{
background-color: rgb(16, 44, 44);
 width: 50px;
 height: 50px;
 border: 0.125em solid rgb(0, 60, 255);
 border-radius: 20%;

margin-left: 8px;
margin-right: 8px;

}
#box1 p{

   
}

#formulario{
    background-color: yellow;
    position: absolute;
}
/*
#box2{
    background-color: rgb(0, 255, 136);
width: 50px;
 height: 50px;
 border: 0.125em solid;
 border-radius: 20%;
}
#box3{
    background-color: rgb(30, 255, 0);
width: 50px;
 height: 50px;
 border: 0.125em solid;
 border-radius: 20%;
} */

#textoVitoria{
    position: absolute;
    font-size: 133px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    color: green;
    top: 633px;
}