@media  screen and(max-width:600px) {
    #gamescreen{background-color: aqua;}
}

body{margin: 0px;
position: relative;
background-color: yellowgreen;
width: 100%;
overflow-x: hidden;}
.navbar{
background-image: linear-gradient(to bottom, rgba(73, 63, 63, 0.548) 20%,rgba(179, 161, 161, 0.24)80%);
}
#gamescreen{overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: firebrick; 
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*align-items: center;*/
   
   position: absolute;
}
#linhadasPalavras{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 223px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
    color: aliceblue;
}

#levelscore{
    border-radius: 10px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-left:593px;
    top: 23px;
}

#dicas{

position: absolute;
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
width: 642px;
background-color: rgba(49, 48, 34, 0.932);
top: 97px;
border-radius: 9px;
}


#nivelcount{
font-family: fonte3d;
color: white;
font-weight: bold;
font-size: 20px;
position: relative;
top: 12px;
}
@font-face {
    font-family: fonte3d;
    src: url(/fonts/Filepile.otf);
}

#linhadicas{
    background-color: rgba(0, 255, 255, 0.342);
    width: 402px;
    height: 263px;
    position: absolute;
    border: 1px solid gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 23px;
    top: 423px;
}
#box1{
background-color: rgb(16, 44, 44);
 width: 50px;
 height: 50px;
 border: 0.125em solid rgb(0, 60, 255);
 border-radius: 20%;

margin-left: 8px;
margin-right: 8px;

}
#box1 p{

   
}

#formulario{
    background-color: yellow;
    position: absolute;
}
/*
#box2{
    background-color: rgb(0, 255, 136);
width: 50px;
 height: 50px;
 border: 0.125em solid;
 border-radius: 20%;
}
#box3{
    background-color: rgb(30, 255, 0);
width: 50px;
 height: 50px;
 border: 0.125em solid;
 border-radius: 20%;
} */

#textoVitoria{
    position: absolute;
    font-size: 133px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    color: green;
    top: 633px;
}